@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.selected {
  font-weight: 800;
  transform: scale(1.1);
}
